.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 0 auto;
    & > h1 {
        color: #B13A34;
        padding: 10px 0 10px 0;
    }
}